@import url(https://fonts.googleapis.com/css?family=Raleway:200,500,700,800);

/*Nav menu styling */


/* Add a black background color to the top navigation */

.topnav {
    background-color: #000000;
    overflow: hidden;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    display: inline-flex;
    color: #ffffff;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}


/* Add a dark background on topnav links and the dropdown button on hover */

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: #f8f8f7;
    color: #070707;
}


/* Add an active class to highlight the current page within the Nav bar */

.active {
    background-color: #020202;
    color: #ffffff;
}

.title1 {
    display: inline-block;
    position: absolute;
    width: 300px;
    top: 0%;
    right: 10%;
    font-size: 80px;
}

.Full-Image1 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: #FFF8DC;
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cutewallpaper.org/21/4k-animal-wallpapers/HD-wallpaper-lion-animals-forest-king-predator-hd-4k-.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Full-Image2 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: #FFF8DC;
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://img5.goodfon.com/wallpaper/nbig/e/93/kofe-kofeinye-ziorna-listia-doski-rossyp.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Full-Image3 {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Text styles */
    text-align: center;
    color: #FFF8DC;
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://images.squarespace-cdn.com/content/v1/5b74b27b3e2d0916a922bfbf/1556653263425-J4FW7HZ6PJHXTTIHR3VF/ke17ZwdGBToddI8pDm48kOggE0Ch6pMGalwtLMqzsSB7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1Ufo5RWkg_J4of0jUNHaDHx6pZKBvpVYzidBWCapg0tuoMuEaB2HPGSYDV-11UTcW2g/The+Life+Impact+of+Coffee.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*Form Stylings*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #111;
    font-weight: 500;
    font-size: 1.05em;
    font-family: 'Raleway', Arial, sans-serif;
}

#container {
    position: absolute;
    width: 710px;
    height: 10em;
    left: 40%;
    top: 50%;
    margin-left: -355px;
    margin-top: -2.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.input {
    position: relative;
    margin: 1em;
    width: calc(50% - 2em);
    height: 80px;
}

textarea {
    border: none;
    resize: none;
}

.input__field {
    position: absolute;
    margin: 0.8em 0;
    padding: 0.4em;
    width: 100%;
    height: calc(100% - 1.6em);
    border: none;
    border-radius: 0;
    background: transparent;
    color: #fdfdfd;
    font-size: 1.55em;
    font-weight: bold;
    -webkit-appearance: none;
    /* for box shadows to show on iOS */
}

.input__field:focus {
    outline: none;
}

.input__label {
    position: absolute;
    padding: 0 1em;
    margin: 1.2em 0;
    width: 100%;
    height: calc(100% - 2.4em);
    color: #f8f8f7;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.5em 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label::before,
.input__label:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #eeeff0;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label::before {
    top: 0;
}

.input__label::after {
    bottom: 0;
}

.input__field:focus+.input__label .input__label-content,
.input--filled .input__label-content {
    -webkit-transform: translate3d(0, -90%, 0);
    transform: translate3d(0, -90%, 0);
}

.input__field:focus+.input__label::before,
.input--filled .input__label::before {
    -webkit-transform: translate3d(0, -0.5em, 0);
    transform: translate3d(0, -0.5em, 0);
}

.input__field:focus+.input__label::after,
.input--filled .input__label::after {
    -webkit-transform: translate3d(0, 0.5em, 0);
    transform: translate3d(0, 0.5em, 0);
}

#send-button {
    position: absolute;
    top: 120%;
    left: 52%;
    width: 300px;
    height: 60px;
    background-color: #eef1f5;
    color: #000;
    border: 0;
    font-weight: bold;
    font-size: 70.25%;
    text-transform: uppercase;
    letter-spacing: 4px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}

#send-button:hover,
#send-button:focus {
    outline: 0;
    background-color: #302f2b;
    color: #000;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


/*END FORM STYLINGS */